@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Montserrat:wght@200;300;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Montserrat', sans-serif;
}

/* App.css */
#root {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  min-height: 100vh;
  --main-transiton: .2s ease-in;
  --primary-color: #f8b400;
  --main-black: rgb(38, 38, 38);
  --secondary-black: rgb(49, 49, 49);
  --main-white: #fff;
  --secondary-white: #eee;
  --third-white: #d7d7d7;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .logoimg{
  width: 10vw;
}

nav ul{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav ul li{
  list-style: none;
  flex: 1 1 auto;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
}

header {
  background-color: var(--primary-color);
  padding: 10px;
  text-align: center;
}


/* MAIN */
main section{
  padding: 1rem;
  background-color: #929292;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 2rem;
}


.heroimg{
  width: 100%;
}

main section div:first-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  background-color: green;
}

main section h1,p{
  text-align: left;
  color: var(--main-black);
}

main section p {
  color: var(--secondary-black);
  font-size: .8rem;
}

#reserveBtn {
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  padding: 1rem 2rem;
  border-radius:2rem;
  cursor: pointer;
}

/* special  */

#specialSection{
  margin-bottom: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 1rem;

}

.specials h3{
  margin-top: .6rem;
}

.specials p{
  font-size: .9rem;
  margin: .2rem 0rem;
  line-height: 1.2;
}

#orderBtn{
  background: none;
  border: none;
  text-decoration: underline;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.2rem;
  margin: .5rem 0rem;
  cursor: pointer;
}

#orderBtn:active{
  scale: 0.9;
  transition: var(--main-transiton);
}

/* Testimony */
#testimony{
  margin-bottom: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

#testimony article{
  padding: 1.4rem;
  border-radius: .5rem;
  background-color: var(--main-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#testimony p{
  color: var(--secondary-black);
  font-size: .8rem;
}
#testimony small{
  font-weight: bold;
  color: var(--main-black);
}

/* footer */
footer {
  padding: 3rem 1rem;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

footer div p{
  margin-bottom: .5rem;
  font-weight: 600;
}

footer div ul li{
  cursor: pointer;
  margin: .8rem 0rem;
  font-size: 0.8rem;
  color: var(--secondary-black);
  list-style: none;
}


/* RESERVE */
#form{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  gap: 1rem;
  background-color: var(--main-white);
  padding: 3rem;
}

#form h3{
  color: var(--main-black);
  font-size: 2rem;
}

#form .inputs{
  margin-top: .2rem;
  width: 100%;
  border-radius: .2rem;
  border:none;
  outline: none;
  padding: .8rem;
  background-color: var(--secondary-white);
}

#form .inputs:focus, .inputs.active{
  outline: .6px solid var(--primary-color);
}

form input[type='submit'] {
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 5rem;
  padding: 1rem 3rem;
  border: none;
  color: var(--main-white);
  font-weight: 600;
  font-size: 1rem;
}

form input[type='submit']:active {
  scale: .95;
  transition: var(--main-transiton);
}


/* MEDIUM */
@media (min-width: 600px) {
  nav .logoimg{
    width: 5vw;
  }
  main section{
    flex-direction: row;
  }

  main section div{
    width: 50%;
  }

  .heroimg{
    width: 60%;
  }

  #specialSection{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
    gap: 3rem;
  }
  #testimony{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    gap: 2rem;
  }

  #form{
    width: 40%;
    padding: 3rem;
  }
}
